*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#cabecalho img {
    display: block;
    width: 300px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 20px gray;
}

#cabecalho img, h1 {
    margin-top: 10px;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-weight: 50;
}

.principal {
    padding: 20px;
    text-align: justify;
}

.principal h3 {
    margin-top: 20px;
}

.rodape {
    width: 127px;
    height: 65px;
    margin: 0 auto;
}

.rodape img, a{
    display: inline-block;
    width: 50px;
    margin: 5px;
}